html {
	height: 100%;
}

body {
	background-image: url(train-background.jpg);
	background-size: cover;
	background-position-x: center;
	width: 100%;
	min-height: 100%;
}

h1 {
	color: white;
	text-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
	margin-bottom: 1.5rem;
}

p {
	color: white;
	text-align: center;
}

.block {
	width: 30rem;
	height: 50rem;
	background-color: rgba(0, 0, 0, 0.65);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1rem;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.btn-party {
	margin-top: 3rem;
}
